<!DOCTYPE html>
<html lang='en'>
    <head>
        <% include ../partials/head %>
    </head>
    <body class='container'>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% data.forEach(item => { %>
                    <tr>
                        <th><%= item.id %></th>
                        <td><%= item.name %></td>
                        <td><%= item.qty %></td>
                        <td><%= item.amount %></td>
                        <td>
                            <div class="row">
                                <form action="http://localhost:3000/api/v1/items/<%= item.id %>" id="update<%= item.id %>" method="GET">
                                    <button class="btn btn-outline-info btn-sm" type="submit" form="update<%= item.id %>">
                                        Edit
                                    </button>
                                </form>
                                <form action="http://localhost:3000/api/v1/items/<%= item.id %>" id="delete<%= item.id %>" method="DELETE">
                                    <button class="btn btn-outline-danger btn-sm" type="submit" form="delete<%= item.id %>" style="margin-left: 5px;">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>